<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode</title>
    <link href="https://fonts.googleapis.com/css2" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.8.0/JsBarcode.all.js"></script>
    <script src="JsBarcode.all.min.js"></script>
</head>
<style>

    html body {
        /* zoom: 95%; */
        zoom: 70%;
    }
</style>
<body>
    <% if(data.length !==0){ data.forEach(function (i, index) { %>
        <% if (data.CompanyBarcode == 5){%>
            <% if (data.CompanyID == 20 || data.CompanyID == 19 && data.CompanyID !== 64){%>
                <table style="margin-left: -10px; margin-top: -9px; ">
                    <tr>
                        <th  style="width: 140px; padding: 0;">
                            <div
                                style="font-size: 16px; font-weight: 600; font-family: verdana;margin-top: 0px; text-align: center; margin-top:6px; padding-bottom:1px; ">
                                <%=i.BarcodeName%>
                            </div>
                            <div>
                                <svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="<%=i.Barcode%>"
                                    jsbarcode-textmargin="0" jsbarcode-height="45" jsbarcode-marginTop="-15"
                                    jsbarcode-fontSize="15" jsbarcode-marginBottom="0" jsbarcode-width="2"
                                    jsbarcode-fontoptions="bold">
                                </svg>
                                <script>
                                    JsBarcode(".barcode").init();
                                </script>
                            </div>
                        </th>
                        <th  style="width: 300px;">
                            <div
                                style="text-align: left; font-size: 22px; font-weight: 600; font-family: verdana; letter-spacing: 0px; margin-left: 130px;">
                                           ADE  <%=i.RetailPrice%>    
                                     
                            </div>
                            <div
                                style="text-align: left; font-size: 14px; font-weight: 600;letter-spacing: 0.1px;margin-left: 130px; font-family: verdana ;">
                                (Inc. of all Taxes) </div>
                            <div
                                style="text-align: left; font-size: 16px; font-weight: 600; font-family: verdana;margin-left: 130px;">
                                <%=i.ProductBrandName%>
                            </div>
                            <div
                                style="text-align: left; font-size: 16px; font-weight: 600; font-family: verdana;margin-left: 130px;">
                                <%=i.ProductModelName%>
                            </div>
                        </th>
                    </tr>
                </table>
                 <%}%>

                 <% if (data.CompanyID == 64 ){%> 
                    <table style="margin-left: -10px; margin-top: 0px;  ">
                        <tr>
                            <th  style="width: 180px; padding: 0;">
                                <div style="height: 120px; padding-top: 0px;">

                               
                                <div
                                    style=" font-size: 18px; font-weight: 600; font-family: verdana;margin-top: 0px; text-align: center; margin-top:6px; padding-bottom:1px; ">
                                    <%=i.BarcodeName%>
                                </div>
                                <div>
                                    <svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="<%=i.Barcode%>"
                                        jsbarcode-textmargin="0" jsbarcode-height="60" jsbarcode-marginTop="-15"
                                        jsbarcode-fontSize="20" jsbarcode-marginBottom="0" jsbarcode-width="2"
                                        jsbarcode-fontoptions="bold">
                                    </svg>
                                    <script>
                                        JsBarcode(".barcode").init();
                                    </script>
                                </div>
                            </div>
                            </th>
                            <th  style="width:800px;  padding: 0 !important; margin: 0 !important; ">
                                <div style="padding-left: 280px; height: 125px; padding-top: 2px;">
                                <div
                                    style="text-align: left; font-size: 26px; font-weight: 600; font-family: verdana; letter-spacing: 0px; ">
                                               MRP  <%=i.RetailPrice%>    
                                         
                                </div>
                                <div
                                    style="text-align: left; font-size: 14px; font-weight: 600;letter-spacing: 0.1px; font-family: verdana ;">
                                    (Inc. of all Taxes) </div>
                                <div
                                    style="text-align: left; font-size: 16px; font-weight: 600; font-family: verdana;">
                                    <%=i.ProductBrandName%>
                                </div>
                                <div
                                    style="text-align: left; font-size: 16px; font-weight: 600; font-family: verdana;">
                                    <%=i.ProductModelName%>
                                </div>
                            </div>
                            </th>
                        </tr>
                    </table>
                    <%}%>

                 <% if (data.CompanyID !== 20 && data.CompanyID !== 19 && data.CompanyID !== 64){%> 
            <table style="margin-left: -10px; margin-top: -9px; ">
                <tr>
                    <th  style="width: 140px; padding: 0;">
                        <div
                            style="font-size: 16px; font-weight: 600; font-family: verdana;margin-top: 0px; text-align: center; margin-top:6px; padding-bottom:1px; ">
                            <%=i.BarcodeName%>
                        </div>
                        <div>
                            <svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="<%=i.Barcode%>"
                                jsbarcode-textmargin="0" jsbarcode-height="45" jsbarcode-marginTop="-15"
                                jsbarcode-fontSize="15" jsbarcode-marginBottom="0" jsbarcode-width="2"
                                jsbarcode-fontoptions="bold">
                            </svg>
                            <script>
                                JsBarcode(".barcode").init();
                            </script>
                        </div>
                    </th>
                    <th  style="width: 200px;">
                        <div
                            style="text-align: left; font-size: 22px; font-weight: 600; font-family: verdana; letter-spacing: 0px; margin-left: 18px;">
                            <% if (data.CompanyID !== 2){%>
                                       MRP  <%=i.RetailPrice%>    
                              <%}%>
                            <% if (data.CompanyID == 2){%>
                                       OMR  <%=i.RetailPrice%>    
                              <%}%>            
                        </div>
                        <div
                            style="text-align: left; font-size: 14px; font-weight: 600;letter-spacing: 0.1px;margin-left: 18px; font-family: verdana ;">
                            (Inc. of all Taxes) 
                        </div>
                        
                        <div style="text-align: left; font-size: 16px; font-weight: 600; font-family: verdana;margin-left: 18px;">
                            <% if (data.CompanyID !== 63){%>
                                 <%=i.ProductBrandName%>
                            <%}%>
                            <% if (data.CompanyID === 63){%>
                                <%=i.ProductUniqueBarcode%>
                            <%}%>
                        </div>

                        <div
                            style="text-align: left; font-size: 16px; font-weight: 600; font-family: verdana;margin-left: 18px;">
                            <%=i.ProductModelName%>
                        </div>
                    </th>
                </tr>
            </table>
            <%}%>
            <%}%>
                <%})}%>
</body>
</html>