<html>
<link rel="stylesheet" href="http://localhost:3000/assest/header.css">
<style>
   

    html body {
        zoom: 100%;
    }
</style>

<body>

    <% if (data.billformate.BillHeader==3){%>
        <header class="headerSize" <% %> style='width:<%= data.HeaderWidth %>; height: <%= data.HeaderHeight %>;'>
                    <div class="row">
                        <div class="col1" <% %> style="text-align: <%= data.ImageAlign %>;">
                                <img src=<%=data.LogoURL%> alt="LOGO" style='width:<%= data.ImageWidth %>; height:
                                    <%= data.ImageHeight %>;'>
                        </div>
                        <div class="col2">
                            <span <% %> style='font-size:<%= data.ShopNameFont %>; font-weight: <%= data.ShopNameBold %>
                                        ; color: <%= data.Color %>;'>
                                            <%=data.shopdetails.Name%>
                            </span> <br>
                            <span <% %> style='line-height:<%= data.LineSpace %>;font-size:<%= data.ShopDetailFont %>;'>
                                        <span>
                                            <%=data.shopdetails.Address%>
                                        </span> <br>
                                        <span>
                                            <%=data.shopdetails.MobileNo1%>
                                                <% if (data.shopdetails.MobileNo2){%>
                                                    ,
                                                    <%}%>
                                                        <%=(data.shopdetails.MobileNo2 !=='null' ) ?
                                                            data.shopdetails.MobileNo2 : '' %>
                                        </span><br>
                                        <span>
                                            <%=data.shopdetails.Email%>
                                        </span><br>
                                        <span>
                                            <%=(data.shopdetails.PhoneNo !=='null' ) ? data.shopdetails.PhoneNo : '' %>
                                        </span>
                            </span>
                        </div>
                    </div>
        </header>
        <%}%>

</body>

</html>