<html>

<head>
   <style>
      .headingName {
         position: absolute;
         margin-left: 43%;
         width: 30%;
         color: red;
         margin-top: 0px;
         font-size: 16px !important;
      }

      html body {
         zoom: 80%;
      }

      #table2 {
  border-collapse: collapse;
}

#table2 th,
#table2 td {
  border: solid 1px;
}
   </style>
</head>

<body>
   <section style="width: 100%;">
      <header>
         <table style="width: 100%;">
            <thead>
               <tr style="text-align: center;">
                  <th>
                     <h1 style="font-size: 60px;margin: 0;">+ नवज्योति नेत्र चिकित्सालय +</h1>
                  </th>
               </tr>
               <tr>
                  <th>
                     <h4 style="font-size: 30px;margin: 0;">बजाज एजेंसी के पास, सण्डीला रोड, गौसगंज (हरदोई)</h4>
                  </th>
               </tr>
            </thead>
         </table>
         <table style="width: 100%;">
            <thead>
               <tr style="text-align: left;">
                  <td>
                     <span style="font-size: 18px;"><b>Moblie:</b> 9453959797/7233055000</span>
                  </td>
                  <td>
                     <span style="font-size: 18px;"><b>Phone:</b> </span>
                  </td>
                  <td>
                     <span style="font-size: 18px;"><b>E-Mail:</b> eyenavjyoti@gmail.com</span>
                  </td>
               </tr>

               <tr style="text-align: left;">
                  <td>
                     <span style="font-size: 18px;"><b>Timing:</b> 09:00 AM TO 01:30 PM</span>
                  </td>
                  <td>
                     <span style="font-size: 18px;"> 02:00 AM TO 05:00 PM</span>
                  </td>
               </tr>

               <tr style="text-align: center;">
                  <td colspan="3">
                     <span style="font-size: 20px; border: 1px solid #000;padding:3px 15px;border-bottom: 0px solid #000;"><b>REG. NO.:</b> RMEE2230553</span>
                  </td>
               </tr>
            </thead>

         </table>
         <table style="width: 100%; border-top: 1px solid #000; border-bottom: 1px solid #000; ">
            <thead>
               <tr style="text-align: left;">
                  <td>
                     <span style="font-size: 18px;"><b>Dr.Sumit Rastogi</b></span>
                  </td>
                  <td style="padding-left: 5%;">
                     <span style="font-size: 18px;"><b>Dr.Pratyush Kumar</b></span>
                  </td>
                  <td style="padding-left: 5%;">
                     <span style="font-size: 18px;"><b>Dr.Sandeep Sharma</b></span>
                  </td>
               </tr>
               <tr style="text-align: left;">
                  <td>
                     <span style="font-size: 17px;">MBBS (K.G.M.C.,Lucknow)<br> MS Ophthalmology <br> Reg No.- 46128 <br> Fellow Aravind Eye Hospital, Madurai</span>
                  </td>
                  <td style="padding-left: 5%;">
                     <span style="font-size: 17px;">D OPT (S.P.P.G.I.,Lucknow)<br> BSC OPT (S.S.P.M.C.,kanpur) <br> Reg No.- 1452  </span>
                  </td>
                  <td style="padding-left: 5%;">
                     <span style="font-size: 17px;">M.B.B.S , M.S., FAEH<br> Consultant Ophthalmologist <br> Reg No.- 54966 <br> Banaras Hindu University </span>
                  </td>
               </tr>
            </thead>
         </table>
      </header>
   </section>

   <section style="width: 100%; ">
      <!-- left side -->
      <div style="width: 29%; float: left; height: 800px; ">
         <div style="font-size: 10px; width: 90%; height: 130px;"></div>
         <div style="font-size: 18px; width: 90%; height: 320px; line-height: 24px;">
            <h4 style="margin: 0;">OPD FACILITIES</h4>
               <li>Computer Assisted Refraction</li>
               <li>Slit Lamp Biomicroscopy </li>
               <li>Non Contact Tonometry </li>
               <li>Indirect Ophthalmoscopy </li>
               <li>A and B Sacn </li>
               <li>Contact Lens </li>
               <li>Keratometry </li>
               <li>90 D Examination </li>
               <li>Yag Leser </li>
               <li>Phoreptarised Eye Testing  </li>
               <li>Fundus Examination </li>
         </div>
         <div style="font-size: 18px; width: 90%; height: 320px; line-height: 24px;">
            <h4 style="margin: 0;">SURGERY FACILITIES</h4>
            <li>ECCE, SICS <br> (Small Incision Cataract Surgery) </li>
            <li>Phocoemulsification </li>
            <li>Glaucoma Surgery </li>
            <li>Oculoplasty Surgery </li>
            <li>DCR Surgery</li>
            <li>LID Surgery </li>
            <li>Squint Surgery </li>
            <li>Oculr Trauma Management </li>
            <li>Intravetrial Injection For Debities </li>
         </div>

         <div style=" width: 90%; height: 100px;">
            <h4 style="margin: 0;font-size: 18px; padding-bottom: 2%;">Ayushman Facility </h4>
            <img src="<%=data.PmLogo%>" alt="Ayushman Facility" width="100%" >
         </div>
      </div>
     
      <!-- right side  -->
      <div style="width: 70%; float: right; border-left: 1px solid #000; height: 1080px;">
         <table style="width: 60%; float: left; line-height: 19px; font-size: 18px; padding-top: 2%; padding-bottom: 2%;">
            <thead >
               <tr>
                  <th style="text-align: left; width: 20%;">Cust_ID</th>
                  <td>: <%=data.customer.Idd%> </td>
               </tr>
               <tr>
                  <th style="text-align: left; width: 20%;"> Name </th>
                  <td>: <%=data.customer.Name%></td>
               </tr>
               <tr>
                  <th style="text-align: left; width: 20%;"> Age </th>
                  <td>: <%=data.customer.Age%></td>
               </tr>
               <tr>
                  <th style="text-align: left; width: 20%;">Address</th>
                  <td>: <%=data.customer.Address%></td>
               </tr>
            </thead>
         </table>
         <table style="width: 40%; float: right; font-size: 18px;padding-top: 2%; padding-bottom: 2%;">
            <thead>
               <tr>
                  <th style="text-align: left;">Vising Date <br> Moblie No. <br> Gender </th>
                  <td>: <%=data.customer.VisitDate%><br>: <%=data.customer.MobileNo1%> <br>: 
                     <% if (data.customer.Gender != 'MR.' && data.customer.Gender != 'DR.' && data.customer.Gender != 'Mrs.' && data.customer.Gender != 'Miss.' && data.customer.Gender != 'ADV.' && data.customer.Gender != 'Smt.' && data.customer.Gender != 'Mst.') { %>
                        <%=data.customer.Gender%> 
                        <%} %>
                  </td>
               </tr>
            </thead>
         </table>

      <!-- power spec -->
      <% if (data.mode === 'other') { %>
         <section>
            <table style="width: 80%; font-size: 18px; text-align: left; padding-left: 5%;">
   
               <tr style="height: 50px;">
                   <th rowspan="2" style="width:25%">VN : --</th>
                   <td style="text-align: left;">R - <%=data.other.R_VN%></td>
               </tr>
               <tr>
                   <td>L - <%=data.other.L_VN%></td>
               </tr>
               <tr style="height: 50px;">
                   <th rowspan="2">TN : --</th>
                   <td>R - <%=data.other.R_TN%></td>
               </tr>
               <tr>
                   <td>L - <%=data.other.L_TN%></td>
               </tr>
               <tr style="height: 50px;">
                   <th rowspan="2">SY/KR : --</th>
                   <td>R - <%=data.other.R_KR%></td>
               </tr>
               <tr>
                   <td>L - <%=data.other.L_KR%></td>
               </tr>
   
               <tr >
                   <th style="padding-top: 20px;">IOL Power:</th>
                   <td style="padding-top: 20px;"><%=data.other.IOL_Power%></td>
               </tr>
               <tr>
                   <th style="padding-top: 20px;">Operation:</th>
                   <td style="padding-top: 20px;"><%=data.other.Operation%></td>
               </tr>
   
               <tr>
                   <th style="padding-top: 20px;">Sugar:</th>
                   <td style="padding-top: 20px;"><%=data.other.Sugar%></td>
               </tr>
               <tr>
                   <th style="padding-top: 20px;">B.P.:</th>
                   <td style="padding-top: 20px;"><%=data.other.BP%></td>
               </tr>
             
   
           </table>
           <table style="width: 100%;  font-size: 18px; text-align: left; padding-left: 5%;">
            <tr>
                <th style="padding-top: 40px;">Diagnosis:</th>
                <td style="padding-top: 40px;"><%=data.other.Diagnosis%></td>
            </tr>
            <tr>
                <th style="width: 20px; padding-top: 40px;">Treatment:</th>
                <td style="padding-top: 40px;"><%=data.other.Treatment%></td>
            </tr>

        </table>
         </section>
         <section style="width: 100%; padding-left: 5%;margin-top: 10%; height: 200px;">
         <% if (data.otherNoPower === false) { %>
               <table  id="table2" style="width: 90%; text-align: center; ">
                  <thead>
                     <tr style="font-size: 20px;">
                        <th colspan="1"></th>
                        <th colspan="4">Right</th>
                        <th colspan="4">Left</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr style="font-size: 18px;">
                        <td style="padding:5px"></td>
                        <td style="padding:5px">SPH</td>
                        <td style="padding:5px">CYL</td>
                        <td style="padding:5px">AXIS</td>
                        <td style="padding:5px">VP</td>
                        <td style="padding:5px">SPH</td>
                        <td style="padding:5px">CYL</td>
                        <td style="padding:5px">AXIS</td>
                        <td style="padding:5px">VP</td>
                     </tr>
                     <tr style="font-size: 18px;">
                        <td style="padding:5px">Distance</td>
                        <td style="padding:5px"> <%=data.powerList.REDPSPH%> </td> 
                        <td style="padding:5px"> <%=data.powerList.REDPCYL%> </td> 
                        <td style="padding:5px"> <%=data.powerList.REDPAxis%> </td> 
                        <td style="padding:5px"> <%=data.powerList.REDPVA%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LEDPSPH%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LEDPCYL%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LEDPAxis%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LEDPVA%> </td>
                     </tr>
                     <tr style="font-size: 18px;">
                        <td style="padding:5px">Near</td>
                        <td style="padding:5px"> <%=data.powerList.RENPSPH%> </td> 
                        <td style="padding:5px"> <%=data.powerList.RENPCYL%> </td> 
                        <td style="padding:5px"> <%=data.powerList.RENPAxis%> </td> 
                        <td style="padding:5px"> <%=data.powerList.RENPVA%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LENPSPH%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LENPCYL%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LENPAxis%> </td> 
                        <td style="padding:5px"> <%=data.powerList.LENPVA%> </td> 
                     </tr>
                  </tbody>
               </table>
         <%} %>
      </section>
      <%} %>

      <div style="width: 50%; text-align: center; padding-left: 30%; ">
        <h2 style="border-bottom: 2px solid #000;"> SIGNATURE </h2>
        <h4> Thanks For Visting !!!</h4>
      </div>
     
      </div>
   </section>
</body>

</html>