<html>
<link rel="stylesheet" href="http://localhost:3000/assest/purchaseDetails.css">
<style>
    html body {
        zoom: 100%;
    }
</style>
<body>
    <section>
        <h4>Purchase Invoice</h4>
        <div class="main">
            <div class="row1">
                <div class="col-1">
                   <img src="<%=data.LogoURL%>" alt="" class="logo">
                </div>
            </div>
            <div class="row2">
                <div class="col-1">
                    <p>Supplier Name</p>
                    <p>InvoiceNo </p>
                    <p>PurchaseDate </p>
                </div>
                <div class="col-2">
                    <p> : <%=data.supplier.Name%>
                    </p>
                    <p> : <%=data.PurchaseMaster.InvoiceNo%>
                    </p>
                    <p> : <%=data.PurchaseMaster.PurchaseDate%>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <table>
            <thead>
                <tr>
                    <th>SNo.</th>
                    <th>ProductType</th>
                    <th>ProductName </th>
                    <th>UnitPrice</th>
                    <th>Quantity</th>
                    <th>SubTotal</th>
                    <th>DisAmt</th>
                    <th>GSTAmt</th>
                    <th>TotalAmt</th>
                </tr>
            </thead>
            <tbody>
                <% if(data.PurchaseDetails.length !==0 ){ data.PurchaseDetails.forEach(function (i, index) { %>
                    <tr>
                        <td>
                            <%= index+1 %>
                        </td>
                        <td>
                            <%=i.ProductTypeName%>
                        </td>
                        <td>
                            <%=i.ProductName%>
                        </td>
                        <td>
                            <%=i.UnitPrice%>
                        </td>
                        <td>
                            <%=i.Quantity%>
                        </td>
                        <td>
                            <%=i.SubTotal%>
                        </td>
                        <td>
                            <%=i.DiscountAmount%>
                        </td>
                        <td>
                            <%=i.GSTAmount%>
                        </td>
                        <td>
                            <%=i.TotalAmount%>
                        </td>
                    </tr>
                    <%})}%>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <%=data.PurchaseMaster.Quantity%>
                    </th>
                    <th>
                        <%=data.PurchaseMaster.SubTotal%>
                    </th>
                    <th>
                        <%=data.PurchaseMaster.DiscountAmount%>
                    </th>
                    <th>
                        <%=data.PurchaseMaster.GSTAmount%>
                    </th>
                    <th>
                        <%=data.PurchaseMaster.TotalAmount%>
                    </th>
                </tr>
            </tfoot>
        </table>
        </div>
    </section>
</body>

</html>