<html>
<link rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style>



    html body {
        zoom: 100%;
       

    }

    .headingName {
         position: absolute;
         margin-left: 39.2%;
         width: 30%;
         color: red;
         margin-top: 0px;
         font-size: 14px !important;
      }

      header{
        width: 100%;
        height: 200px;

        border-radius: 0% 0% 100% 0%;


      }
      header .row .col1{
        width: 60%;
        float: left;
        text-align: center;
        padding-top: 3.5rem;
      }
      header .row .col2{
        width: 8%;
        float: left;
        text-align: center;
        margin-top: 2%;
      }
      header .row .col3{
        width: 28%;
        float: right;
        text-align: right;
        font-size: 20px;

      }

.row2{
    width: 93%;
    padding-left: 3rem;
}
.row2 .col1{
    width: 25%;
    text-align: left;
    float: left;
    border: 1px solid #000;
    border-right: 0px;
    padding: .5%;
}
.row2 .col2{
    width: 30%;
    border: 1px solid #000;
    text-align: left;    float: left;   border-right: 0px;  padding: .5%;
}
.row2 .col3{
    width: 41.3%;
    border: 1px solid #000;
    text-align: left;    float: right;  padding: .5%;
}

.row2 b{
    background-color: #ff8b47;
    padding: 0px 5px; font-family:  Arial, Helvetica, sans-serif;
}
.row2 p{
    margin: 0;
    padding: 0;
}

.row4{
    width: 100%;
    height: 250px;
}
.row4 .col1{
    width: 60%;
    float: left;
}
.row4 .col2{
    width: 35%;
    float: right;
    padding-left: 0%;

}

.row5{
    width: 100%;
    height: 100px;
    font-style: italic;
    color: #1e1e55;
}
.row5 .col1{
    width: 40%;
    float: left;
}
.row5 .col2{
    width: 60%;
    float: right;
    text-align: left;
}

.row6{
    width: 100%;
    height: 100px;
}
</style>
<body>
    <section style="position: relative;">
      <div class="waterMaek" style="position: absolute;width: 100%; top: 30%; opacity: .1;"> <img src=" <%=data.LogoURL1%>" alt="" width="100%"> </div>
 
  <section>
     <header style="margin-top: 2%;">
        <div class="row">
            <div class="col1">
                <img src=" <%=data.LogoURL1%>" alt="" width="50%" alt="logo">
            </div>
            <div class="col2">
                <img src="<%=data.web%>" alt="" width="60%">
                <img src="<%=data.mail%>" alt="" width="50%" style="margin-top: 10px; margin-bottom: 10px;">
                <img src="<%=data.call%>" alt="" width="50%" style="margin-bottom: 15px;">
                <b >CIN NO.</b>
            </div>
            <div class="col3">
                <p>www.relinksys.com</p>
                <p>relinksys@gmail.com</p>
                <p>9766666248</p>
                <b style="font-size: 18px;">U72501PN2019PTC187008</b>
            </div>
        </div>
     </header>
  </section>

  <section>
    <div class="row2">
        <div class="col1">
            <b>Bill DETAILS</b>
            <p>invoice No. <span>REoinis-123</span></p>
            <p>Date <span>12-12-2222</span></p>
        </div>
        <div class="col2">
            <b>SALER NAME</b>
            <p style="font-weight: 600;">Relinksys Software Pvt. Ltd.</p>
            <p>GST NO.- 27AAJCR8437N1ZK</p>
            <p>Add.- Narhe, Pune-411041</p>
            <p>Mobile: 9766666248</p>
        </div>
        <div class="col3">
        <b>BUYEY DETAILS</b>
        <p style="font-weight: 600;">City Opticals and Pharmacy</p>
        <p>GST NO.- 09AANPZ3969L1ZG</p>
        <p>Adress: Ismailpur</p>
        <p>E-Mail: zaidash2007@gmail.com</p>
        </div>
    </div>
  </section>

  <section style="width: 100%;">
    <table style="width: 100%;">
        <thead>
            <tr style="background-color: #ff8b47; font-family:  Arial, Helvetica, sans-serif;">
                <th>Print By</th>
                <th>P.O.#</th>
                <th>SHIP DATE</th>
                <th>SHIP VIP</th>
                <th>F.O.B</th>
                <th>DOC NO</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <td>Santosh Patil</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </section>
  <section style="width: 100%;">
    <table style="width: 100%; border-bottom: 1px solid #000; height: 200PX;">
        <thead>
            <tr style="background-color: #ff8b47; font-family:  Arial, Helvetica, sans-serif;">
                <th>SR NO.</th>
                <th>DESCRIPTION</th>
                <th>HSN CODE</th>
                <th>UNIT PRICE</th>
                <th>QTY</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <td>1</td>
                <td>OPTICALGURU AMC+SERVER CHARGES</td>
                <td>998314</td>
                <td>3500</td>
                <td>1</td>
                <td>3500</td>
            </tr>
        </tbody>
    </table>
  </section>

  <section>
    <div class="row4">
        <div class="col1">
            <table style="text-align: left;">
                <tr style="background-color: #ff8b47; font-family:  Arial, Helvetica, sans-serif;"> <th style="padding-right: 280px;">Company Bank Details</th></tr>
                <tr> <td> Account Type: Current Account</td></tr>
                <tr><td>Bank Name: ICICI Bank </td></tr>
                <tr><td>Account No. 349105001016 </td></tr>
                <tr><td>IFSC Code: ICIC0003491 </td></tr>
            </table>
            <table  style="text-align: left; border: 1px solid #000;font-family:  Arial, Helvetica, sans-serif; font-size: 13px;">
                <tr style="background-color: #ff8b47; font-size: 16px; "> <th>Instructions</th></tr>
                <tr> <td> 1.Full payment in advance is required and you will be invoiced on reciept.</td></tr>
                <tr> <td> 2.We hope our offers appeals to you & would be glad to business with you.</td></tr>
                <tr> <td> 3.All deposits or advanced payments would be non-refundable.</td></tr>
            </table>
           
         
        </div>
        <div class="col2">
           <table style="text-align: center; padding-left: 3%;">
            <tr>
                <th style="background-color: #ff8b47;">SUBTOTAL</th>
                <th></th>
                <th>3600</th>
            </tr>
            <tr>
                <th style="background-color: #ff8b47;">C GST</th>
                <td style="padding: 0 5%;">0%</td>
                <td>0</td>
            </tr>
            <tr>
                <th style="background-color: #ff8b47;">S GST</th>
                <td style="padding: 0 5%;">0%</td>
                <td>0</td>
            </tr>
            <tr>
                <th style="background-color: #ff8b47;">I GST</th>
                <td style="padding: 0 5%;">0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th style="background-color: #ff8b47;">GRAND TOTAL</th>
                <td></td>
                <td style="background-color: #ff8b47;">INR 4,248.00</td>
            </tr>
           </table>
           <table  style="text-align: center; margin-top: 15%;">
            <tr> <td>Make all checks payable to</td></tr>
            <tr> <th> (Relinksys Software Service Pvt. Ltd.)</th></tr>
        </table>
        </div>
    </div>
  </section>

  <section>
    <div class="row5">
        <div class="col1"> <h3>Authorized Signature</h3></div>
        <div class="col2"> <h3>Thankyou For Your Business</h3></div>
    </div>
  </section>
  <section>
    <div class="row6">
       <p style=" font-family:  Arial, Helvetica, sans-serif;">Office No.303, Jay Complex, Narhe Road, Narhe, <br>
        Pune-411041 (Maharashtra)</p>
     
    </div>
  </section>

</section>
</body>

</html>