<html>
<link rel="stylesheet" href="http://localhost:3002/assest/customerPower.css">

<head>
   <style>
      html body {
         zoom: 100%;

      }

   </style>
</head>


<body style="background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220428/pngtree-abstract-3d-elegant-golden-ribbon-elements-and-lighting-effect-sparking-glitter-image_1108708.jpg); border-radius: 4px; padding: 4px 15px;background-size: 100% 100%; box-shadow: 0px 0px 3px 0px #b9a158;">

 <section style="width: 100%; padding-top: 4%;">
    <div class="row" style="width: 100%;">
      <div class="col-12" style="width: 100%;">
        <h4  style="font-weight: 800 !important; color: #000000;text-shadow: 2px 2px 4px #bfbfbf; margin: 0;"><%=data.customer.Title%> <%=data.customer.Name%></h4> 
        <h4  style="font-weight: 800 !important; color: #000000;text-shadow: 2px 2px 4px #bfbfbf;margin: 0; padding-top: 2%;"><%=data.customer.MobileNo1%></h4>
      </div>
     
    </div>

    <div class="row" style="width: 100%;">
        <div class="col-12" style="width: 100%;">
            <h1  style="margin: 0;font-weight: bolder !important; text-shadow: 2px 2px 2px #ffffff; color: #4a3716; letter-spacing: .8px; font-size: 1.75rem;">Prime Membership</h1> 
        </div>
    </div>

    <div class="row " style="width: 100%; ">
        <div class="col-12 "  style="color: #4a3716; text-shadow: 2px 2px 3px #fff;width: 100%;">
            <h4 style="font-weight: 800 !important; margin:0">CARD NUMBER **** **** *<%=data.customer.Idd%></h4> 
        </div>
    </div>  

    <div class="row " style="width: 100%; padding-top: 4%;">
        <div class="col-12 "  style="color: #000000; text-shadow: 2px 2px 3px #fff;width: 100%;">
            <h4 style="font-weight: bolder !important; margin:0"><%=data.shopdetails.Name%></h4> 
        </div>
    </div>  
    
    <div class="row" style="width: 100%; padding-top: 1%;">
      <div class="col-12" style="width: 48%; float: left;">
        <h4  style="font-weight: bolder !important; color: #000000;text-shadow: 2px 2px 4px #bfbfbf; margin: 0;">
           <%=data.shopdetails.MobileNo1%>
        </h4> 
      </div>
      <div class="col-6"  style="width: 48%; float: right; text-align: right;">
        <h6  style="font-weight: bolder !important; color: #000000;text-shadow: 2px 2px 4px #bfbfbf;margin: 0; padding-top: 2%;">
          Expiry <%=data.expiry.ExpiryDate%>
        </h6>
      </div>
    </div>
 </section>


</body>

</html>